Add Support for Per-App Scope Validation

First off, my apologies if this project isn't accepting feature requests or this is a weird-ish one. I'm still actively learning Ruby so I may be going about this all wrong.

I have an application which permits other users to create OAuth applications, where different applications may have different scopes approved for their use (stored in the `scopes` column of the relevant database). In order to facilitate this, I borrowed the existing logic from `DeviceGrantMixin` for system-level scope enforcement:

```ruby
  validate :validate_scopes_approved

  def validate_scopes_approved
    # warn: duplicate code from the device authorization request monkeypatch
    scopes_valid = scopes.present? && Doorkeeper::OAuth::Helpers::ScopeChecker.valid?(
      scope_str: scopes.to_s,
      server_scopes: Doorkeeper.config.scopes,
      app_scopes: application.scopes,
      grant_type: Doorkeeper::DeviceAuthorizationGrant::OAuth::DEVICE_CODE
    )

    errors.add(:scopes, :invalid_scope) unless scopes_valid
  end
```

This, however, nets in a 500 exception when an application attempts to use an invalid scope. While this does block the action as intended, this does not behave in an expected manner (e.g. the nice error message that shows when client_id is missing). I've also been able to reproduce this 500 behavior when passing in a fully-invalid scope while `enforce_configured_scopes` is set. 

I've attempted to trace this a bit further, and it appears as though this is caused by the fact that `DeviceAuthorizationRequest` is not actually aware of scope authorization. Unfortunately, it seems difficult (if even possible? I'm honestly not sure how) to monkeypatch the appropriate validation into that class. Seeing as Doorkeeper proper respects this for its Authorization Code flows, I'd like to see if it's possible to have this added as a feature to the gem.

Thanks!

Thanks for taking a look at this! Hopefully the below will be helpful to your side, I've done a tiny bit of digging to try to patch this in my own app's code, eheh. 

> As far as I understand the problem, it seems desirable to detect the mismatch between the request's scope and the related Application's scope. Is that correct?

Precisely. [Doorkeeper itself](https://github.com/doorkeeper-gem/doorkeeper/blob/d9d51f091335bf23356bd6a96b5ade2dacbbe49f/lib/doorkeeper/oauth/pre_authorization.rb#L136) will perform this validation ([spec here](https://github.com/doorkeeper-gem/doorkeeper/blob/d9d51f091335bf23356bd6a96b5ade2dacbbe49f/spec/lib/oauth/pre_authorization_spec.rb#L174)) on pre-authorization and refuses to even show the user the consent dialog if a scope is invalid.

As far as I can tell, the [`ScopeChecker`](https://github.com/doorkeeper-gem/doorkeeper/blob/2418589bb3074a6bbcde4369dd18d0de93afcffc/lib/doorkeeper/oauth/helpers/scope_checker.rb) will validate scopes in the following order:

* If no scopes are present, scopes are considered valid.
* If app scopes are present (for `authorization_code`, from `client.scopes`), check requested scopes against app scopes.
* If app scopes are NOT present, check against server scopes (for `authorization_code`, from `Doorkeeper.configuration.scopes`).
* Additionally check against grant_type

> It seems more appropriate to reject Device Authorization Requests with non-matching scopes in the first place.

This makes sense, would align perfectly with my use case, and appears to be what Doorkeeper itself does.

> Since scopes and Applications strictly belong to the "core" Doorkeeper, is there an obvious/recommended/canonical way to perform this strict match? Perhaps, already implemented for other grant mechanisms?

Indeed! In fact, Device Authorization Requests [already calls Doorkeeper's own checker](https://github.com/exop-group/doorkeeper-device_authorization_grant/blob/42aadf75f4a9a09021a8820e34326e9ff1eabfe9/lib/doorkeeper/device_authorization_grant/orm/active_record/device_grant_mixin.rb#L133), so I think this would really just be a case of what *seems* to be the following change plus some other accounting for error messages and all:

```ruby
      def scopes_match_configured
        if scopes.present? && !Doorkeeper::OAuth::Helpers::ScopeChecker.valid?(
          scope_str: scopes.to_s,
          server_scopes: Doorkeeper.config.scopes,
          app_scopes: application.scopes                # <<<
        )
          errors.add(:scopes, :not_match_configured)
        end
      end
```

Looking at the code, it seems like `DeviceGrantMixin` copied from Doorkeeper's native `ApplicationMixin`, as the validation code seems pretty similar. This would make sense given the implementation here as well, as Doorkeeper Core will enforce an application's permitted scopes regardless of `enforce_configured_scopes`'s setting while this gem is a bit more lenient. In Doorkeeper Core, `enforce_configured_scopes` only seems to take effect when an Application is sent off for validation. I'd assume _in general_ that `DeviceGrantMixin` behaves like this gem's version of a [`PreAuthorization`](https://github.com/doorkeeper-gem/doorkeeper/blob/d9d51f091335bf23356bd6a96b5ade2dacbbe49f/lib/doorkeeper/oauth/pre_authorization.rb#L5)? 

> Can we find a standardized behavior among RFCs? (They "invented" everything in the first place!)

Ah, standards. As far as I can tell, the standards leave "is a scope valid" up to the application to decide. The best reference implementation I can give you is Doorkeeper Base, unfortunately!

That said, for actual error handling, [RFC 8628 section 3.2](https://www.rfc-editor.org/rfc/rfc8628#section-3.2) links back to [RFC 6749 section 5.2](https://www.rfc-editor.org/rfc/rfc6749#section-5.2), so the requesting device would get the same `invalid_scope` that base Doorkeeper already sends.

> And, finally, is this gem actually lacking some features?

I'd agree that this is a missing feature, albeit a minor one and (as you pointed out) easy enough to work around. I can definitely understand how this didn't come up in your team's own use case, though. The idea of constraining scopes based on application (especially for user-made applications) seems to be relatively rare in the OAuth space. I really thank you guys for even taking a look at this request! 